/* Definição de variáveis de cores */
:root {

  --branco: #fff;
  --preto: #000;
  --vermelho: #ff0000;

  /* Define variáveis de cores utilizadas no conteúdo da página */
  --color-titulo--conteudo: #ff0157; /* Cor do título do conteúdo */
  --botao-border--conteudo: #c2c2c2; /* Cor da borda de botões no conteúdo */
  --botao-texto--conteudo: #717171; /* Cor do texto de botões no conteúdo */
  --background--conteudo: #f6f7fb; /* Cor de fundo do conteúdo */
  --color-principal: #1d1d1d; /* Cor que utilizamos na tag "body" */

  /* Define variáveis de cores utilizadas no loader (carregador de página) */
  --color-loader--ciano--antes: #f11414; /* Cor ciano antes da animação do loader */
  --color-loader--ciano--depois: #0079FF; /* Cor ciano depois da animação do loader */
  --color-loader--branco: #585656; /* Cor de fundo do loader em tom de branco */ 

  /* Define a cor do texto da barra de navegação */
  --color-navbar--preto: #111;

  /* Cores das equipes do quiz */

  --equipe-1: #3498db;
  --equipe-2: #2eccc4;
  --equipe-3: #2ecc71;
  --equipe-4: #f1c40f;
  --equipe-5: #9b59b6;
  --equipe-6: #e67e22;
  --equipe-7: #1abc9c;
  --equipe-8: #e74c3c;

  --tela-derrota: #ff00002d;
  --caixa-infomacao-border: #d3d3d3;

  /* Define a cor dos links na página  #00fea8 */
  --color-link: #ff0157; /* Cor rosa para os links */
  --color-link--secundarios: #fc3e7e; /* Cor rosa para os links secundários*/
}

::selection {
  color: var(--branco);
  background: var(--color-link);
}